<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F1 Data Visualizations</title>
    <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Formula 1 Data Visualizations</h1>

    <h3>Please select below:</h3>

    <ul>
      <li>
          <a href="circuits">
              Circuits
          </a>
        </li>
      <li></li>
      <li></li>
    </ul>


</body>
</html>